.footer-wrapper {



.copyright  {
    heigth:auto !important;

    div {
        heigth:auto !important;
    }

    > div {
      @include t-color(24,23,24,1);


    }
   
    p,ul {
        margin:0 !important;

    }

    p {
        color:$color-white;
        text-transform:uppercase;
       font-size: .8em;
        padding: 15px 0;
    }

    > div {
        > div {
            border-top:3px solid $color-primary;
        }
    }

    aside {
        margin:0 !important;

        ul {
            li {
                display:inline-block;
                a {
                    color:$color-white;
                    text-decoration:none;
                    text-transform:uppercase;
                    font-size: .8em;
                    padding: 15px 5px; 
                    display:block;


                    &::after {
                        display:inline-block;
                        content:'|';
                        margin-left: 15px;
                    }

                    &:hover {
                        color:$color-primary;
                    }
                }

                &:last-child {
                    a {
                        padding-right:0;

                         &::after {
                            display:none;
                         }
                    }
                }


            }




        }
    }

}

}

.copyright, 
.copyright > div, 
.copyright > div .row {
    heigth:auto !important;
}



.site-footer {
    padding: 50px 0;
    
    .widget-title {
        display: block;
        margin: 0;
        font-size: 1.8em;   
        font-family: $font-primary;
        margin-bottom:20px !important;
        color:$color-primary;
    }

  
    ul {
        li {
            line-height:24px !important;

            a {
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    color: $color-primary;
                }
                
                &:before {
                    content: "\f105";
                     @include fontawesome;
                     margin-right: 5px;
                     display: inline-block;
                     color: $color-white;

                     display:none;
                }
            }


        }
    }

    #media_image-3  {

        img {
            width: 100%;
        }
        
    }
    
}